body {
  color: white;
  font-size: 16px;
}

h1 {
  margin-bottom: 1rem;
}

.App {
  background: url(assets/images/bg.jpg);
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outbox {
  padding-top: 120px;
}

.panel {
  width: 400px;
  min-height: 300px;
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 12px;
}

.game-panel {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 12px;
}

.panel-lg {
  width: 600px;
}

.panel-tabs {
  overflow: hidden;
}

.tabs-container {
  overflow: hidden;
}

.dismissable-alert {
  transition: opacity 1s;
  width: calc(100% - 28rem);
}

.dismissable-alert.dismiss {
  opacity: 0;
}

.dismissable-alert.show {
  opacity: 1;
}

.tab-left {
  width: 30%;
}

.tab-right {
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-item {
  background: transparent;
  color: white;
}

.custom-item.border-top {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

.list-group h3 {
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.list-group p {
  font-size: 0.8rem;
  color: rgba(255,255,255,0.64);
}

.instrument-card {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  transition: all 0.6s;
}

.instrument-card:hover {
  background: rgba(255, 255, 255, 0.125);
  border-color: rgba(255, 255, 255, 0.5);
}

.instrument-card.active {
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.75);
}

.instrument-card .badge {
  display: none;
  position: absolute;
  left: 4px;
  top: 8px;
}

.instrument-card.active .badge {
  display: inline-block;
}

.instrument-card .badge>i {
  font-size: 20px;
}

.selection {
  overflow-y: auto;
}

.buttons {
  height: 100px;
}

.btn-panel {
  background: rgba(0, 0, 0, 0.5);
  border: none;
}